<%= f.select(:category, @categories.map(&:category), :prompt => "Select one!") %>



=> category.remove
<td><%= link_to 'Remove', category_path(c),
	              method: :delete,
	              data: { confirm: 'Are you sure?' } %></td>


def add_to_cart
  	if user_signed_in?
  		cart = Cart.new(cart_params)
  		if cart.save
  			cart.add_product(params[:product_id])
  			redirect_to carts_path(cart.id)
			end

    else
    	redirect_to new_user_session_path
    end
  end