<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container">
  <table class="table table-hover" border="1">
    <thead>
    	<tr>
        <th>Categories</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr>
          <td><%=link_to c.category_name, category_path(c) %></td>
        </tr>
    	<% end %>
    </tbody>
  </table><br/>
</div>