<div class="container-fluid">
  <div style="width:100%">
    <div style="float:left; width:20%;">Filters</div>
    <div style="float:left; width:60%;">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= link_to image_tag('pendrive1.png', alt: "Edit Entry"), product_path(product) %>
              <div class="caption">
                <h5><%= product.name %></h5>
                <h4>Rs <%= product.price %></h4>

                <p></p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="float:left; width:19%; margin-left:10px;">Offers</div>
  </div>
</div>