<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container">
	<h3>Add New Product</h3><br/>
	<%= render 'form' %><br/>
	<div><%= link_to "Back", products_path %></div>
</div>